.empty-match-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3vw;

  h5 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;
  }

  .empty-match-img {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;

    img{
      max-width: 100%;
      max-height: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}