* {
  font-family: 'Cabin', sans-serif;
}

button:active, button:focus {
  outline:0 !important;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 1;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
  #header-full-screen { display: none; } 
  #personal-info-full-screen { display: none; } 
}

@media screen and (min-width: 800px) {
  #header-small-screen { display: none; } 
}

