* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:active, button:focus {
  outline:0 !important;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 1;
}
