.signin-container {
  margin: 8vh auto 5vh auto;
  display: flex;
  justify-content: center;

  h6 {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .sign-in-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .signin-button-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }

  h6 {
    text-align: center;
  }
}

