.signin-container {
  width: 35vw;
  margin: 50px auto 40px auto;

  h5 {
    margin: 30px 10px 40px 10px;
    display: flex;
    justify-content: center;
  }

  .signin-button-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }

  h6 {
    text-align: center;
  }
}