.upload-recipeimg-container {
  width: 50vw;
  min-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .upload-foodimg-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .uploadrecipeimg-container {
      margin-top: 20px;
    }
  }

  .upload-recipeimg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 1vw 0;
  
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}