.recipe-details-page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;


  .details-box {
    width: 60vw;
    min-width: 380px;
  }

  .personal-info-box {
    width: 300px;
    padding-top: 10vw;
  }
}