.homepage-container {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .homepage-row-1 {
    width: 68%;
    position: relative;
    margin: 0 auto;

    .homepage-img-left {
      position: absolute;
      top: 0;
      left: -10%;
      max-width: 100%;
      z-index: -1;
    }
    .homepage-img-right {  
      position: relative;
      top: 10%;
      right: 0;
      max-width: 70%;
      z-index: -1;
    }
    .homepage-title {
      //margin: 120px 0;
      margin: 7vw 0;
      @media (min-width: 560px) and (max-width: 991px) {
        margin: 12vw 0;
      }
      @media (max-width:560px) {
        margin: 8vw 0;
      }
      h1 {
        font-family: 'Frank Ruhl Libre', serif;
        font-style: normal;
        font-weight: 900;
        font-size: 5vw;
        line-height: 110%;
        letter-spacing: 0.015em;
        color: #2A356C;
        @media (min-width: 560px) and (max-width: 991px) {
          font-size: 7vw;
        }
        @media (max-width:560px) {
          font-size: 8vw;
        }
      }
      h4 {
        font-family: Cabin;
        font-style: normal;
        font-weight: normal;
        font-size: 3vw;
        line-height: 50px;
        letter-spacing: 0.015em;
        color: #2A356C;
        @media (min-width: 560px) and (max-width: 991px) {
          font-size: 4vw;
        }
        @media (max-width:560px) {
          font-size: 5vw;
        }
      }
    }

    .get-started-btn {
      margin-top: 12%;
      padding: 4px 16px;
      width: 15vw;
      height: 4vw;
      background: #F4AEA4;
      box-shadow: 2px 2px 0px #2A356C;
      border: none;
      border-radius: 5px;
      transition: 0.1s linear;

      @media (min-width: 610px) and (max-width: 991px) {
        margin-top: 18%;
        width: 20vw;
        height: 6vw;
      }
      @media (min-width: 560px) and (max-width: 712px) {
        margin-top: 10%;
        width: 150px;
        height: 50px;
      }
      @media (max-width:560px) {
        margin-top: 7%;
        width: 130px;
        height: 40px;
      }


      .get-started-text {
        color: #ffffff;
        font-size: 2vw;
        font-weight: 500;
        letter-spacing: 0.02em;
        @media (min-width: 713px) and (max-width: 991px) {
          font-size: 3vw;
        }
        @media (min-width: 609px) and (max-width: 712px) {
          font-size: 2.5vw;
        }
        @media (min-width: 560px) and (max-width: 609px) {
          font-size: 22px;
        }
        @media (max-width:560px) {
          font-size: 18px;
        }
      }
      &:hover {
        box-shadow: none;
        transform: translate(2px,2px);
      }
    }
  }

  .homepage-row-2{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .homepage-row-2-img {
      width: 40vw;
      min-width: 300px;
      margin: 0 20px 0 0;

      img {
        max-width: 100%;
        display: block;
      }
    }

    .homepage-row-2-text {
      width: 25%;
      min-width: 260px;
      word-wrap: break-word;
      margin: 0 20px 0 10px;

      h2 {
        display: inline;
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(180deg, rgba(255,255,255,0) 75%, #FBDD8A 75%);
      }
      p {
        margin-top: 20px;
        font-size: 22px;
      }
    }
  }

  .homepage-row-3{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 10vw;

    .homepage-row-3-img {
      width: 40vw;
      min-width: 300px;
      margin: 0 20px 0 0;

      img {
        max-width: 100%;
        display: block;
      }
    }

    .homepage-row-3-text {
      width: 25%;
      min-width: 260px;
      word-wrap: break-word;
      margin: 0 20px 0 10px;

      h2 {
        display: inline;
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(180deg, rgba(255,255,255,0) 75%, #FBDD8A 75%);
      }
      p {
        margin-top: 20px;
        font-size: 22px;
      }
    }
  }

  .homepage-row-4{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6vw;

    .homepage-row-4-img {
      width: 35vw;
      min-width: 300px;
      margin-right: 8vw;

      img {
        max-width: 100%;
        display: block;
      }
    }

    .homepage-row-4-text {
      width: 25%;
      min-width: 260px;
      word-wrap: break-word;
      margin: 0 20px 0 10px;

      h2 {
        display: inline;
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(180deg, rgba(255,255,255,0) 75%, #FBDD8A 75%);
      }
      p {
        margin-top: 20px;
        font-size: 22px;
      }
    }
  }
}