.category-btn {
  height: 33px;
  background: #F7EFEE;
  border: 2px solid #2A356C;
  box-sizing: border-box;
  border-radius: 30px;
  margin-right: 10px;

  &:hover{
    background-color: #E5E5E5;
  }

  span {
    color: #2A356C;
    margin: 0 7px;
  }

  &.category-active {
    background: #2A356C;

    span {
      color: #FFFFFF;
    }
  }
}