.search {
  width: 35vw;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 3px solid #AEB4A9;
  border-right: none;
  padding: 5px;
  height: 46px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
.searchButton {
  width: 60px;
  height: 46px;
  border: 1px solid #989D95;
  background: #989D95;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchButton:hover {
  width: 60px;
  height: 46px;
  border: 1px solid #989D95;
  background: #474935;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}
.searchButton:focus {
  outline: none;
}