.search {
  width: 35vw;
  min-width: 300px;
  position: relative;
  display: flex;
  margin-bottom: 20px;
}
.searchTerm {
  width: 100%;
  border: 3px solid #2A356C;
  border-right: none;
  padding: 5px;
  height: 46px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #333333;
}

.searchButton {
  width: 60px;
  height: 46px;
  border: 1px solid #2A356C;
  background: #2A356C;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchButton:hover {
  width: 60px;
  height: 46px;
  border: 1px solid #2A356C;
  background: #4A5696;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}
.searchButton:focus {
  outline: none;
}