.personal-info-edit-container {
  display: flex;
  justify-content: center;

  .personal-info-edit {
    width: 80%;
    display: flex;
    flex-direction: column;

    input {
      margin: 5px 0;
      border-radius: 5px;
      border: 1px solid gray;

      &:focus {
        outline: none;
      }
    }

    .personal-info-edit-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;

      Button {
        margin:  10px 5px 0px 5px;
      }
    }
  }
}