.header-container {
  background-color: #945D5E;
  opacity: 0.9;
	height: 70px;
	display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 1px 1px 2px #945D5E;
  font-size: 18px;

  .web-logo {
    text-decoration: none;
    color: #1B2021;
    padding-left: 3%;
  }

  .header-options {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2%;
    color: #393D3F;

    .header-option {
      padding: 0 3% 0 3%;
      text-decoration: none;
      color: #1B2021;
    }
  }

}
