.stats-card {
  background: #FFFFFF;
  box-shadow: 3px 3px 4px 3px rgba(153, 153, 153, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin-top: 20px;
  width: 150px;

  .stats-col {

  }
}