.footer-container {
  background-color: #2A356C;
  width: 100vw;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  
  p {
    font-family: 'Cabin', sans-serif;
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
    margin: 0 0;
    margin: auto 0;
    padding: 20px 10px 20px 10px;
  }
}