.footer-container {
  background-color: #6D8A96;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  
  p {
    text-align: center;
    vertical-align: middle;
    margin: 0 0;
    padding: 10px 0;
  }
}