.signin-signup-page-container {
  height: 700px;

  .signin-box {
    background: lightblue;
    width: 40vw;
    margin: 100px auto;
    padding: 20px 10px 10px 10px;
    border: none;
    border-radius: 30px;
  }
}