.signin-signup-page-container {
  display: flex;
  justify-content: center;
  background-color: #F3F3F3;


  .signin-signup-form-container {
    width: 50%;
    min-width: 350px;
    margin: 8vw auto ;
    padding-top: 20px;
    border-radius: 20px;
    background-color: #FBDD8A;
  }
}
