.signin-signup-page-container {
  height: 630px;
  display: flex;
  justify-content: center;

  .signin-signup-form-container {
    width: 50%;
    margin: 50px;
    padding: 20px 0 3px 0;
    border-radius: 20px;
    background-color: lightblue;
  }
}
