.user-recipe-page-container {
  display: flex;
  flex-direction: row;

  .user-recipe-container {
    width: 75vw;
    background-color: #F7EFEE;
    padding-top: 30px;

    .user-searchbar-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 35px;
      padding-bottom: 35px;

      .searchbar-user {
        width: 50%;
        margin: 0 auto;
      }

      .create-recipe-button {
        margin-left: 20px;
        vertical-align: middle;
      }
    }

    .user-pagination-container {    
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 40px;
    }
  }

  .personal-info-container {
    width: 25vw;
    background: #c4c8c3;
  }
}
