.user-recipe-page-container {
  background: #F7EFEE;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  padding: 60px 0 50px 0;

  .user-recipe-container {
    width: 60vw;
    padding-top: 10px;

    .user-searchbar-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 2vw 10px 4vw 10px;

      .searchbar-user {
        width: 50%;
        margin: 0 auto;
      }

      .create-recipe-button {
        margin-left: 20px;
        vertical-align: middle;
        margin-bottom: 20px;

        span {
          font-family: 'Cabin', sans-serif;
          font-size: 16px;
        }
      }
    }

    .user-pagination-container {    
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  }

  .personal-info-container {
    width: 25vw;
    min-width: 320px;
    margin: 20px 0 40px 0 ;
  }
}
