.user-recipe-page-container {
  display: flex;
  flex-direction: row;

  .user-recipe-container {
    width: 75vw;

    .user-searchbar-container {
      display: flex;
      justify-content: center;
      padding-top: 35px;
      padding-bottom: 35px;

      .searchbar-user {
        width: 50%;
        margin: 0 auto;
      }
    }

    .user-pagination-container {    
      display: flex;
      justify-content: center;
      padding: 10px 0 50px 0;
    }
  }

  .personal-info-container {
    width: 25vw;
    background: lightsalmon;
  }
}
