.single-form-input {
  width: 35vw;
  margin-bottom: 15px;

  label {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transform-origin: left center;
    color: #7f94a9;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
  }
  .form-styles {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    appearance: none;
    background-color: none;
    border: 1px solid #7f94a9;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: #7f94a9;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    &:focus {
      outline: none;
      background:#7f94a9;
      color: white;
      margin-top: 30px;
      ~ {
        label {
          color: darkslategrey;
          -moz-transform: translate(0, -35px);
          -ms-transform: translate(0, -35px);
          -webkit-transform: translate(0, -35px);
          transform: translate(0, -35px);
        }
      }
    }
    &:valid {
      margin-top: 15px;
      ~ {
        label {
          text-transform: uppercase;
          font-style: italic;
          color: darkslategrey;
          -moz-transform: translate(5px, -35px) scale(0.6);
          -ms-transform: translate(5px, -35px) scale(0.6);
          -webkit-transform: translate(5px, -35px) scale(0.6);
          transform: translate(5px, -35px) scale(0.6);
        }
      }
    }
  }
  position: relative;
  padding: 10px 0;
  &:first-of-type {
    padding-top: 0;
  }
  &:last-of-type {
    padding-bottom: 0;
  }
}


