.recipe-container {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition:transform 0.25s ease-out;
  background: #FFFFFF;
  box-shadow: 3px 4px 4px rgba(153, 153, 153, 0.25);
  margin: 25px;
  border-radius: 3px;

  @media (min-width: 400px) {
    width: 25%;
    min-width: 350px;
  }

  &:hover, &:focus {
    transform:scale(1.05);
    cursor: pointer;
  }

  .foodimg_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;


    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }
  }

  .recipe-preview-icons {
    margin: 0 20px 10px 3px;

    .recipe-preview-row1 {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0 0 5px 15px;
    }

    .recipe-preview-row2 {
      display: flex;
      align-items: center;
      margin: 0 0 20px 15px;
    }

    span {
      font-family: 'Cabin', sans-serif;
    }
  }

  .preview-title-name {
    h4 {
      font-size: 27px;
      font-family: 'Frank Ruhl Libre', serif;
      margin: 15px 15px 0px 20px;
    }
    h6 {
      margin: 5px 0px 15px 20px;
    }
  }
}