.explore-page-container {
  background: #F7EFEE;
  padding: 30px 20px 40px 20px;

  .explore-search-container {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-bottom: 35px;

    .explore-search-col-1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      .searchbar-explore {
        width: 50%;
        margin: 0 auto;
      }
    }

    .explore-search-col-2 {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      height: 40px;
    }

  }

  .public-pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
