.explore-page-container {
  background: #F7EFEE;
  padding: 30px 20px 40px 20px;
  .explore-searchbar-container {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 35px;

    .searchbar-explore {
      width: 50%;
      margin: 0 auto;
    }
  }

  .explore-recipes-container {
    //padding-bottom: 30px;
  }

  .public-pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
